* {
  box-sizing: border-box;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

body, html{
  height: 100%;
  width: 100%;
}
body{
  background-color: #000000;
}

.header{
  display: flex;
  background-color: #4e4e4e;
  justify-content: space-between;
}
.title{
  font-size: 2em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate;
  border-right: 2px solid rgb(255, 255, 255);
}
.navBar{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.navBar a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 20px;
}
#icon{
  font-size: 3em;
  cursor: pointer;
  color: white;
}
.navBar a:hover, #icon:hover{
  color: rgb(228, 231, 16);
}


@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    
  }
}
