* {
  box-sizing: border-box;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

body, html{
  height: 100%;
  width: 100%;
}
body{
  background-image: url("../assets/sistema-nervoso-humano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}

.header{
  display: flex;
  background-color: rgb(28, 69, 146);
  justify-content: space-between;
}
.title{
  font-size: 2em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate;
  border-right: 2px solid rgb(255, 255, 255);
}
.navBar{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.navBar a{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 20px;
}
#icon{
  font-size: 3em;
  cursor: pointer;
  color: white;
}
.navBar a:hover{
  color: rgb(9, 28, 63);
}


@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    
  }
}
